$black: #000099;
$white: #fff;
$grey: rgba(0, 0, 0, 0.6);
$bg: #242424;
$font-family: "Open Sans", sans-serif;
$second-family: "Sora", sans-serif;
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
    @media (max-width: 1275px){
        padding: 0 40px;
    }
    @media (max-width: 725px){
        padding: 0 20px;
    }

}
header {
    .header_inner {
        padding: 37px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        display: flex;
        gap: 48px;

        li a {

            font-size: 16px;
            font-family: $font-family;
            color: $black;
        }

        @media (max-width: 728px) {
            display: none;
        }
    }
    button {
        border-radius: 8px;
        padding: 16px 20px;
        width: 133px;
        height: 56px;
        background: $black;
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        color: $white;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        @media (max-width: 728px) {
            display: none;
        }
    }
    .burger-menu {
        display: none;
        @media (max-width: 728px) {
            display: block;
        }
    }
}

h1 {
    font-size: 48px;
    @media (max-width: 725px) {
        font-size: 36px;
    }
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}
section:nth-child(1) {
    margin-top: 0;
}
section:nth-child(4) {
    background-color: black;
}

section:nth-child(6) {
    background-color: black;
}


.normal {
    font-weight: 400;
}

.hero {
    position: relative;
    display: flex;
    padding: 0 32px;
    @media (max-width: 1275px){
         flex-direction: column-reverse;
    }
}



.header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 32px;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 48px;
    height: 100%;
    @media (max-width: 1275px){
        position: static;
    }
    @media (max-width: 725px) {
        gap: 16px;
    }
}

.hero-links {
    display: flex;
    gap: 48px;
    .hero-icon {
        width: 64px;
        height: 64px;
        img {
            width: 100%;
            height: 100%;
        }
        @media (max-width: 725px){
            width: 48px;
            height: 48px;
        }
    }
    @media (max-width: 1275px){
        gap: 24px;
    }
    @media (max-width: 725px){
        gap: 16px;
    }
}

.hero-description {
    max-width: 701px;
    font-size: 24px;
    font-weight: 400;
    color: $black;
    @media (max-width: 1275px){
        font-size: 20px;
    }
    @media (max-width: 725px){
        font-size: 16px;
    }
}

.hero-image {
    margin-left: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    @media (max-width: 1275px) {
        margin-left: 0;
    }
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card {
    display: flex;
    height: 180px;
    width: 186px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #000;
    i {
        font-size: 48px;
    }
    p {
        font-size: 18px;
        font-weight: 800;
    }
}

.white {
    background-color: $black;
    color: white;
    padding: 100px 0;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 8px;
    border: 1px solid #FFF;
    .header-wrapper {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .card-header {
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 30px
    }
    .card-description {
        font-size: 18px;
    }
    .experience-icon {
        display: inline;
        width: 32px;
        height: 32px;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 123px;
    @media (max-width: 955px) {
        flex-direction: column;
        gap: 24px;
        justify-content: center;
    }
    @media (max-width: 475px) {
        gap: 16px;
    }

}
.avatar-wrapper {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (max-width: 955px) {
        height: 527px;
        width: 495px;
        margin: 0 auto;
    }
    @media (max-width: 475px) {
        width: 440px;
        height: 420px;
        margin: 0 auto;

    }
    @media (max-width: 360px) {
        width: 320px;
        height: 300px;
    }
}

.about-content {
    .header {
        text-align: left;
        @media (max-width: 955px) {
            margin-bottom: 16px;
        }
    }
    .about-description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
        line-height: 26px;
        color: $black
    }
}

.projects-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.white {
    background-color: $black;
    @media (max-width: 960px) {
        padding: 100px 40px;
    }
}
.project {
    display: flex;
    gap: 124px;
    @media (max-width:955px) {
        flex-direction: column;
    }
    .project-image {
        height: 338px;
        border-radius: 20px;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        max-width: 495px;
        .number {
            font-size: 48px;
        }
        .project-title {
            font-size: 30px;
        }
        .project-description {
            color: #FFFFFF99
        }
    }
    .more-btn {
        display: block;
        padding: 16px 20px;
        border-radius: 8px;
        margin-right: auto;
    }
}

.project:nth-child(even) {
    .project-image {
       order: 1;
       @media (max-width:955px) {
        order: 0;
       }
    }
}

.contacts {
    flex-shrink: 1;
    flex-grow: 2;
    max-width: 598px;
     @media (max-width:955px) {
                max-width: 880px;
    }
    h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .description {
        margin: 32px 0;
        color: $black;
        line-height: 24px;
    }
}

.call-me {
    display: flex;
    justify-content: space-between;
    gap: 123px;
    align-items: center;
    @media (max-width:955px) {
        flex-direction: column;
        gap: 24px;
    }
    .form {
        display:flex;
        flex-direction:column;
        gap:20px;
         @media (max-width:955px) {
        order:1;
    }
        input {
            width: 495px;
            height: 57px;
            border: 1px solid $black;
            border-radius: 8px;
            padding: 16px 12px;
             @media (max-width:955px) {
                width: 880px;
    }
    @media (max-width:475px) {
                width: 440px;
    }
        }
        textarea {
            width: 495px;
            height: 200px;
            border: 1px solid $black;
            border-radius: 8px;
            padding: 16px 12px;
             @media (max-width:955px) {
                width: 880px;
    }
     @media (max-width:475px) {
                width: 440px;
    }
        }
        .getInTouch {
            display: flex;
            align-items: center;
            gap: 24px;
             @media (max-width:475px) {
                flex-direction: column;
                align-items: baseline;
    }
            button {
                width: 143px;
                height: 64px;
                background-color: #000;
                border-radius: 8px;
                padding: 21px 19.5px;
                color: #fff;
                font-weight: 800;
                text-transform: capitalize;
                 @media (max-width:955px) {
                width: 528px;
    }
     @media (max-width:475px) {
                width: 440px;
    }
            }
            .socialALL {
                display: flex;
                gap: 24px;

            }
            .social {
                width: 64px;
                height: 64px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.email,
.phone {
    font-size: 18px;
    font-weight: 600;
}

.email {
    margin-bottom: 12px;
}